/*colors:*/
/*#f8cb68*/
/*#43fbec*/
/*#dde3e8*/

body{
	background-image: url("image/bg5.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.form{
	display: grid;
	background-color: rgba(0,0,0,0.2);
	border: 1px solid rgba(248,203,104,0.2);
	border-radius: 0.5rem;
	width: 30vw;
	height: auto;
	min-width: 300px;
	margin-left: 10vw;
	margin-top: ;
	margin-bottom: ;
	padding-top: 1.5rem;
	padding-bottom: 2rem;
}


h2{
	display: grid;
	text-align: center;
	color: #f8cb68; 	
	font-family: Arial;
	width: 70%;
	align-self: center;
	margin: 0 auto;
	padding: 1rem;
	border-bottom: 1px solid #f8cb68;

}

.tf{
	display: grid;
	grid-row-gap: 0.8rem;
	margin-top: 1rem;
}

.tf>input{
	width: 70%;
	align-self: center;
	margin: 0 auto;
	border: none;
	background-color: rgba(0,0,0,0);
	color: #f8cb68;
	border-bottom: 1px solid #f8cb68;
	padding-bottom: 0.5rem;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

.rad{
	color: #f8cb68;
	margin-top: 1rem;
	font-size: 0.85rem;
}

.sub{
	margin-top: 2rem;
}

.sub>input{
	border: none;
	background-color: rgba(0,0,0,0);
	align-self: center;
	margin: 0 auto;
	width: 50%;
	padding: 0.3rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border: 1px solid rgba(248,203,104,0.05);
	border-radius: 15px;
	font-weight: bold;
	color: #f8cb68;
	font-size: 1rem;
}

#op{
	margin-top: 0.5rem;
}

@media screen and (max-width: 500px){
	.cnt{
		display: grid;
		text-align: center;
	}
	.form{
		width: 70vw;
		margin-left: 12vw;
		margin-right: 12vw;
	}
}

